body {
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  background-image: url('images/back.gif');
  background-size: cover;
  background-position: center;
}

.ava img {
  width: 150px;
  height: 150px;
  margin-top: -20px;
}

button {
  color: #fbfbfb; 
  background-color: #000;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px #b301e9;
}

button:hover {
  transform: scale(1.07);
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000; 
  padding: 20px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 0 30px #b301e9;
}

h1 {
  color: #ffffff; 
  text-shadow: 0 0 10px #b301e9;
  font-size: 36px;
  margin-top: -10px;
  margin-bottom: -20px;
}

p {
  color: #fff; 
  text-shadow: 0 0 10px #fbfbfb;
  font-size: 18px;
}

a {
  color: #fbfbfb;
}

.ds img {
  width: 60pt;
  height: auto;
  margin-bottom: auto;
  margin-left: 5%;
  margin-right: 5%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.gh img {
  width: auto;
  height: 50pt;
  margin-left: 5%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.tg img {
  width: auto;
  height: 50pt;
  margin-right: 5%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.tg img:hover {
  transform: scale(1.07);
}

.gh img:hover {
  transform: scale(1.07);
}

.ds img:hover {
  transform: scale(1.07);
}
